/*
	2009 Miquel Ràmia <miquel.ramia@uab.cat>
	Lab. de Bioinformàtica de la variació genètica
	Grup de Genòmica, Bioinformàtica i Evolució
	Departament de Genètica i Microbiolgia
	Universitat Autònoma de Barcelona   
*/


/* REPORT ROUND CORNERS*/

#main,
#welcome,
.toggle_block,
#load,
#search_general,
#search_validation,
#search_populations,
#search_overlap,
#search_species,
.section-title,
.section-title-shown,
.section-title2,
table {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.header {
    background-image: url("bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.headerSortDown {
    background-image: url("desc.gif");
}
.headerSortUp {
    background-image: url("asc.gif");
}

/* REPORT SECTIONS */

#main, #welcome {
	margin: 3em;
	padding: 1em;
	background: rgba(255,255,255,0.7);
}
/*
#welcome {
	padding: 1em;
	font-size: 1.4em;
	float: left;
	width: 35%;
}
*/
#welcome {
/*	padding: 1em;*/
/*	font-size: 1.4em;*/

	/*float: center;*/
/*	width: 85%;*/
	text-align: center;
}

/*
.toggle_block {
	margin: 2em 3em;
	padding: 1.2em	;
	float: left;
	width: 40%;
	border: white solid 0.5em;
	text-align: center;
}
*/
.toggle_block {
	margin: 2em 3em;
	padding: 1.2em	;
	width: 85%;
	border: white solid 0.5em;
	text-align: left;
}


.toggle_block span {
	display: block;
	font-size: 2em;
}

.toggle_block input {
	text-align:right;
	font-size: 1.2em;
	margin: auto;
}

.input-text {
	color: #585858;
}

#load {
	display: block;
	margin: auto;
	padding: 2px;
	background: #FFF;
}

#search_general,
#search_populations,
#search_species {
	margin: 0.2em 0.3em;
	padding: 1.2em;
	width: 42%;
	border: white solid 0.2em;
	text-align: left;
	float: left;
}

#search_validation,
#search_overlap {
	margin: 0.2em 0.3em;
	padding: 1.2em;
	width: 42%;
	border: white solid 0.2em;
	text-align: left;
	float: right;
}



/*nuevas:*/

.section-title2,
.section-title,
.section-title-shown {
	width:95%;
	padding: 0 0.2em 0 0.8em;
	font-size: 1.4em;
	border: solid black 1px;
	background-color: rgba(255, 255, 255, 0.7);
}

.section-title:hover,
.section-title-shown:hover {
	cursor: pointer;
}




/*RESULTS TABLE*/

#results_table{
	margin-bottom: 20px;
}

table {
	width: 90%;
	margin: auto;
	border-collapse:collapse;
	font-size: 0.7em;
}

td,th {
	text-align:right;
	padding: 8px;
}

th:hover {
	cursor:pointer;
}

#results_table table th {
	border-top: #000 solid 2px;
	border-bottom: #000 solid 2px;
}
#results_table table tr {
	background: #EBF5FF;
}
#results_table table tr:nth-child(odd) {
	background: #BDCDDC;
}

#results_table table tr:hover {
		border-top: #000 solid 1px;
		border-bottom: #000 solid 1px;
}

/* */
.button {
	float:right;
	width:10em;
	background: #9A9999;
	-moz-border-radius: 5px;

}
