hits.txt
stats/hits.txt
stats/*xday.txt
stats/*bz2
php/db_conexion.php
sql/InvFESTdb.FREEZE1.sql.gz
sql/InvFESTdb.private.backup.sql.gz
sql/MySQL_permissions.sql
sql/mysqldump_InvFESTdb_public.sh
sql/Database.sql
old_invdb/*
jbrowse/*
